@import "~materialize-css/dist/css/materialize.min.css";

.active{
    color: #029f5b;
    font-size: 18px;
}

.card .card-content {
    padding: 24px;
    min-height: 20rem;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
}

.material-icons:hover{
    color: brown;
}

.pagination{
    display: inline-block;
}
